body{
    background: #000000 url(../images/background.jpg);
}


fieldset{
    background-color: rgba(255, 255, 255, .5);
	border: 0px;
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    width: 50%;
}

legend{
    margin: 10px;
	color: #CC0066;
	font-size: 35px;
    text-shadow: 2px 2px 2px #3d0220;
}

label{
	color: #CC0066;
 	display: block;
 	width: 200px; /*everything needs a width*/
 	text-align: right;
 	float: left;
 	padding-right: 5px;
 	margin-bottom: 5px;
 }


 input:hover{
 	background-color: #6f4d76;
 }

 .input-block{
 	clear: left;
 }

p{
    color: #CC0066;
    margin-left: 50px;
}


div#radio{
    margin: 0;
    padding: 0;
}

/*div#stop{
    float: right;
    width: 100px;
    margin-left: -100px;

}*/

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
                    Button
= = = = = = = = = == = = = = = = = = == = = = = = = = = == = = = = = = = */

div#button{
    margin-left: 205px;
}

button{
    color: #ffffff;
    text-shadow: 0 1px 0 #9c52a9;
    border: 1px solid #CC0066;
    width: 100px;
    height: 30px;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding: 0 5px 5px 5px;
   	background: #660066;
    background: -webkit-linear-gradient(top, #990066 0%, #660066 50%);
    background: -moz-linear-gradient(top, #990066 0%, #660066 50%);
    background: -o-linear-gradient(top, #990066 0%, #660066 50%);
    background: -ms-linear-gradient(top, #990066 0%, #660066 50%);
    background: linear-gradient(top, #990066 0%, #660066 50%);
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

button hover{
	color: #000000;
    text-shadow: 0 1px 0 #444444;
    border: 1px solid #CC0066;
    width: 200px;
    height: 25px;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    background: #660066;
    background: -webkit-linear-gradient(top, #990066 0%, #ffffff 50%);
    background: -moz-linear-gradient(top, #990066 0%, #ffffff 50%);
    background: -o-linear-gradient(top, #990066 0%, #ffffff 50%);
    background: -ms-linear-gradient(top, #990066 0%, #ffffff 50%);
    background: linear-gradient(top, #990066 0%, #ffffff 50%);
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);

}

button a:active{
	color: #000000;
    text-shadow: 0 1px 0 #444444;
    border: 1px solid #000000;
    width: 200px;
    height: 25px;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    background: #ffffff;
    background: -webkit-linear-gradient(top, #165f65 0%, #ffffff 50%);
    background: -moz-linear-gradient(top, #165f65 0%, #ffffff 50%);
    background: -o-linear-gradient(top, #165f65 0%, #ffffff 50%);
    background: -ms-linear-gradient(top, #165f65 0%, #ffffff 50%);
    background: linear-gradient(top, #165f65 0%, #ffffff 50%);
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
}


